<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head (titulo='Acerca de')"></head>
<body>
<div th:replace="fragments::navbar"></div>
<div class="container pt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1 class="mb-4">ToDoList</h1>
            <ul class="list-group">
                <li class="list-group-item">Developed by Raul Quesada Vidal</li>
                <li class="list-group-item">Version 1.0.1</li>
                <li class="list-group-item">Release date: 02/06/2025</li>
            </ul>
        </div>
    </div>
</div>
<div th:replace="fragments::javascript"/>
</body>
</html>